<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee Shops</title>
</head>
<body>
    <table>
        <tr>
            <th>Location</th>
            <th>Action</th>
        </tr>
        <% coffeeShops.forEach((coffeeshop) => { %>
            <tr>
                <td><%= coffeeshop.address %></td>
                <td><a href="/coffeeshop/<%= coffeeshop.id %>">Order</a></td>
            </tr>
        <% })%>
    </table>
</body>
</html>