<%- include('../partials/header', {title: "Register New Member"}) %>

<body>
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><h2>Register New Member</h2><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form action="/register" method="POST">
                    <div class="form-group">
                        Name <br>
                        <input class="form-control form-control-lg" name="name" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Email <br>
                        <input class="form-control form-control-lg" name="email" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Phone <br>
                        <input class="form-control form-control-lg" name="phone" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        Password <br>
                        <input class="form-control form-control-lg" name="password" type="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>