<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Edit User</h1>
    <div>
        <form action="/user/<%=id%>/edit" method="POST">
            <p>
                <label>name:</label>
                <input type="text" name="name" placeholder="name" />
            </p>
            <p>
                <label>password:</label>
                <input type="text" name="password" placeholder="password" />
            </p>
            <p>
                <label>email</label>
                <input type="text" name="email" placeholder="email"  />
            </p>
 
            <p>
                <input type="submit" name="Edit" value="Edit" />
            </p>
        </form>
    </div>

</body>

</html>