<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>top up money form</h1>
    <div>
        <form action="/user/<%=id%>/topup" method="POST">
            <p>
                <label>Money</label>
                <input type="number" name="MoneyAmount" placeholder="money" />
            </p>
 
            <p>
                <input type="submit" name="Top up" value="TopUp" />
            </p>
        </form>
    </div>

</body>

</html>