<%- include('../partials/header',{title: "List All Coffee Shop"}) %>

<body>
    <div class="dashboard-main-wrapper">
        <%- include('../partials/navbar_bs') %>
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content"><div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h3 class="card-header">Add Coffee</h3>
                        <div class="card-body">
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <label for="inputText1" class="col-form-label">Coffee Name</label>
                                    <input id="inputText1" type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber2" class="col-form-label">Price</label>
                                    <input id="inputNumber2" type="number" class="form-control" name="price">
                                </div>
                                
                                <div class="form-group">
                                    <input id="submit" type="submit" value="Submit" class="form-control bg-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <%- include('../partials/footer_bs') %>
    </div>
    <%- include('../partials/optional') %>
</body>            