<%- include('../partials/header',{title: "Edit Coffee Data"}) %>
<body>
    <form action="/admin/coffee/edit/<%=coffee.id%>" method="POST">
        Name: <br>
        <input type="text", name="name" value="<%=coffee.name%>"><br><br>
        Price: <br>
        <input type="number" name="price"  min="1000" value="<%=coffee.price%>"> <br><br>
        <input type="submit" value="Edit Coffee">
    </form>
</body>
</html>