<%- include('../partials/header',{title: "List All Coffee"}) %>

<body>
    <div class="dashboard-main-wrapper">
        <%- include('../partials/navbar_bs') %>
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- table  -->
            <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h3 class="card-header bg-primary">List of All Coffee Shop</h3>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer_bs') %>
    </div>
</body>